:root {
    --dark:#31343d;
    --aqua: #92cccd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS";
}

header {
    background-color: var(--dark);
    padding: 6px 77px 15px 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    background-color: var(--aqua);
    padding: 8px 14px 8px 77px;
    color: var(--dark);
}

h1 {
    font-weight: bold;
    font-size: 40px;
} 

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
}
