:root {
    --dark:#31343d;
    --aqua: #92cccd;
    --navy: #445877;
    --gray: #31343e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS";
    text-decoration: none;
}

header {
    background-color: var(--dark);
    padding: 9px 115px 22.5px 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    background-color: var(--aqua);
    padding: 12px 21px 12px 115px;
    color: var(--dark);
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    font-size: 32px;
    color: var(--aqua);
    margin-left: 45px;
    padding: 0 15px 9px 15px;
    border-bottom: solid 6px;
}

h1 {
    font-weight: bold;
    font-size: 60px;
} 

.banner {
    background-image: url("../images/blue-wood-background.jpg");
    display: flex;
    justify-content: flex-end;
}

.banner h3 {
    display: block;
    font-size: 42px;
    color: var(--dark);
    background-color: var(--aqua);
    padding: 12px 12px 12px 18px;
    margin: 181.5px 121.5px 33px 0;
}

.about, .work, footer {
    display: flex;
    margin-bottom: 100px;
    margin-left: 10%;
}

h2 {
    font-size: 60px;
    color: var(--navy);
    border-right: solid 4px;
    margin-right: 45px;
    padding-right: 17px;
    text-align: right;
}

.about {
    margin-top: 100px;
    margin-right: 120px;
}

.about h2 {
    padding-bottom: 65px;
}

.about article {
    font-size: 19.5px;
    line-height: 27px;
    color: var(--navy);
}

.about article p {
    margin-bottom: 30px;
}

.work div {
    display: flex;
    flex-wrap: wrap;
}

.surf {
    background-image: linear-gradient(rgba(146,204,205,.5), rgba(146,204,205,.5)), url(../images/placeholder-image.jpg);
    background-size: cover;
    padding-top: 475px;
    padding-bottom: 50px;
    padding-right: 1200px;
    border: solid 8px var(--aqua);
    margin-bottom: 30px;
}

h4 {
    font-size: 35px;
    color: var(--gray);
    background-color: var(--aqua);
    padding-top: 12px;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 8px;
    max-width: 215px;
}

h5 {
    font-size: 20px;
    color: var(--gray);
    background-color: var(--aqua);
    padding-left: 11px;
    padding-bottom: 15px;
    max-width: 215px;
}

.small-guys {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.small-guys a {
    background-image: linear-gradient(rgba(146,204,205,.5), rgba(146,204,205,.5)), url(../images/placeholder-image.jpg);
    background-size: cover;
    padding-top: 237.5px;
    padding-right: 145px;
    padding-bottom: 50px;
    width: 49.1%;
    height: 48.1%;
    border: solid 8px var(--aqua);
}

.small-guys .run-buddy {
    background-image: linear-gradient(rgba(146,204,205,.5), rgba(146,204,205,.5)), url(../images/run-buddy.jpg);
}

footer {
    display: flex;
    justify-content: space-around;
}

footer h2 {
    padding-bottom: 2px;
    margin-bottom: 10px;
    width: 15%;
}

footer ul {
    width: 85%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

footer ul li {
    font-size: 25px;
    margin-left: 45px;
    padding-bottom: 7px;
    border-bottom: solid 6px var(--navy);
    text-decoration: none;
}

footer ul li a {
    color: black;
}

.surf:hover {
    background-image: url(../images/placeholder-image.jpg);
}

.small-guys a:hover {
    background-image: url(../images/placeholder-image.jpg);
}

.small-guys .run-buddy:hover {
background-image: url(../images/run-buddy.jpg);
}