:root {
    --dark:#31343d;
    --aqua: #92cccd;
    --navy: #445877;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS";
}

header {
    background-color: var(--dark);
    padding: 9px 115px 22.5px 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    background-color: var(--aqua);
    padding: 12px 21px 12px 115px;
    color: var(--dark);
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    font-size: 32px;
    color: var(--aqua);
    margin-left: 45px;
    padding: 0 15px 9px 15px;
    border-bottom: solid 6px;
}

h1 {
    font-weight: bold;
    font-size: 60px;
} 

.banner {
    background-image: url("../images/blue-wood-background.jpg");
    display: flex;
    justify-content: flex-end;
}

.banner h3 {
    display: block;
    font-size: 42px;
    color: var(--dark);
    background-color: var(--aqua);
    padding: 12px 12px 12px 18px;
    margin: 181.5px 121.5px 33px 0;
}

.about, .work, .contact {
    margin: 52.5px 120px 0 180px;
    display: flex;
}

h2 {
    font-size: 60px;
    color: var(--navy);
    border-right: solid 4px;
    margin-right: 45px;
    padding-right: 17px;
    text-align: right;
}

.about h2 {
    padding-bottom: 65px;
}

.about article {
    font-size: 19.5px;
    line-height: 27px;
    color: var(--navy);
}

.about article p {
    margin-bottom: 30px;
}
