:root {
  --primary: #ff5252;
  --background-font: #ff8989;
}

@font-face {
  font-family: Oswald;
  src: url('./assets/fonts/Oswald-VariableFont_wght.ttf') format("woff2 supports variations"),
       url('./assets/fonts/Oswald-VariableFont_wght.ttf') format("woff2-variations");
  font-weight: 200 700;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-family: 'Oswald';
}

header {
  background: url('./assets/images/nav-background.jpg');
  padding: 0 30px 0;
}

.name {
  font-size: 500%;
  margin: 0;
}

nav {
  
}