:root {
  --dark: #3A445D;
  --purple-dark: #5E5768;
  --middle-gray: #928779;
  --pale-green: #D4D2A5;
  --peach: #FCDEBE;
}

@font-face {
  font-family: Cabin;
  src: url('./assets/fonts/Cabin-VariableFont_wdth,wght.ttf') format("woff2 supports variations"),
       url('./assets/fonts/Cabin-VariableFont_wdth,wght.ttf') format("woff2-variations");
  font-weight: 200 700;
}

html, body, #root, .app {
  height: 100%;
}

body {
  background: url('./assets/images/nav-background.jpg');
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
  font-family: 'Cabin';
}

#root {
  display: flex;
}

.app-div {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 0 30px 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.name {
  font-size: 500%;
  font-weight: bold;
  color: transparent;
  background-color: var(--purple-dark);
  padding: 0 30px 0 30px;
  margin: 0;
  border-radius: 0 0 30px 0;
  border: 10px solid var(--peach);
}

.name span { 
  background: url('./assets/images/nav-background.jpg');
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display:block;
}

nav {
  flex-basis: 65%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul {
  flex-basis: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

nav li {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  background-color: var(--middle-gray);
  padding: 0 10px 0;
  color: var(--peach);
  font-size: 250%;
  padding: 0 25px 0;
  border-radius: 15px;
  transition: .4s background-color;
}

nav a:hover {
  background-color: var(--peach);
  color: var(--middle-gray);
}

.about {
  align-self: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--purple-dark);
  padding: 0 20px 20px;
  margin-top: 50px;
  border: 10px solid var(--peach);
  border-radius: 30px;
}

.about h2 {
  font-size: 500%;
  color: var(--pale-green);
  margin: 0;
  padding: 0 10px 0;
}

.about-row-one {
  display: flex;
  justify-content: flex-start;
  background-color: var(--peach);
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
}

.about-row-one img {
  align-self: center;
  width: 250px;
  height: fit-content;
  margin-bottom: 10px;
  border: 10px solid var(--peach);
  border-radius: 100%;
}

.about-row-one div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-row-two {
  display: flex;
  justify-content: space-between;
}

.about-row-two div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--peach);
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
}

.about-para h3 {
  font-size: 200%;
  color: var(--middle-gray);
  margin: 0;
}

.about-para p {
  flex-basis: 70%;
  font-size: 150%;
  color: var(--dark);
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin: 50px 20px 20px;
}

.icon {
  fill: var(--middle-gray);
  transition: .4s fill;
}

.icon-link:hover .icon {
  fill: var(--peach);
}